#@ load("@ytt:data", "data")
#@ load("@ytt:yaml", "yaml")
#@ load("@ytt:base64", "base64")
---
#@ def config():
profile: full
ceip_policy_disclosed: true #! Installation fails if this is set to 'false'
buildservice:
  kp_default_repository: #@ "{}/{}".format(data.values.tap.credentials.registry.host, data.values.tap.credentials.registry.repositories.buildService)
  kp_default_repository_username: #@ data.values.tap.credentials.registry.username
  kp_default_repository_password: #@ data.values.tap.credentials.registry.password
  tanzunet_username: #@ data.values.tap.credentials.tanzuNet.username
  tanzunet_password: #@ data.values.tap.credentials.tanzuNet.password
  descriptor_name: lite
  enable_automatic_dependency_updates: true
supply_chain: testing_scanning
shared:
  ingress_domain: #@ data.values.tap.domains.base
learningcenter:
  ingressSecret: 
    secretName:  learningcenter-cert-tls
tap_gui:
  service_type: ClusterIP
  tls:
    namespace: tap-install
    secretName: tap-tls-secret
  app_config:
    auth:
      environment: development
      providers:
        okta:
          development:
            clientId: #@ data.values.auth.clientId
            clientSecret: #@ data.values.auth.clientSecret
            audience: #@ data.values.auth.audience
    techdocs:
      builder: 'external'
      publisher:
        type: 'awsS3'
        awsS3:
          bucketName: #@ data.values.aws.s3.bucket
          credentials:
            accessKeyId: #@ data.values.aws.s3.access_key
            secretAccessKey: #@ data.values.aws.s3.secret_key
          region: #@ data.values.aws.s3.region
          s3ForcePathStyle: false
    supplyChain:
      enablePlugin: true
    proxy:
      /metadata-store:
        target: https://metadata-store-app.metadata-store.svc.cluster.local:8443/api/v1
        changeOrigin: true
        secure: true
        ca: #@ base64.decode(data.values.tap.metadatastore.ca)
        headers:
          Authorization: #@ "Bearer " + data.values.tap.metadatastore.auth_token
          X-Custom-Source: project-star
    app:
        baseUrl: #@ "https://{}".format(data.values.tap.domains.tapGui)
    kubernetes:
      serviceLocatorMethod:
        type: multiTenant
      clusterLocatorMethods:
      - type: config
        clusters:
        - url:  #@ data.values.tap.tap_gui.iterate.api_server_url
          name: tap-iterate
          authProvider: serviceAccount
          serviceAccountToken: #@ data.values.tap.tap_gui.iterate.sa_token
          skipTLSVerify: false
          caData: #@ data.values.tap.tap_gui.iterate.api_server_ca
        - url:  #@ data.values.tap.tap_gui.view.api_server_url
          name: tap-build
          authProvider: serviceAccount
          serviceAccountToken: #@ data.values.tap.tap_gui.view.sa_token
          skipTLSVerify: false
          caData: #@ data.values.tap.tap_gui.view.api_server_ca
    catalog:
        locations:
        - type: url
          target: #@ data.values.tap.catalog
    backend:
        baseUrl: #@ "https://{}".format(data.values.tap.domains.tapGui)
        cors:
            origin: #@ "https://{}".format(data.values.tap.domains.tapGui)
grype:
  targetImagePullSecret: registry-credentials
  targetSourceSshSecret: git-ssh
  namespace: tap-install
  metadataStore:
    url: #@ data.values.tap.domains.metadata_store
    caSecret:
      name: store-ca-cert
      importFromNamespace: metadata-store-secrets
    authSecret:
      name: store-auth-token
      importFromNamespace: metadata-store-secrets
ootb_supply_chain_testing_scanning:
  registry:
    server: #@ data.values.tap.credentials.supplychainregistry.host
    repository: #@ data.values.tap.credentials.supplychainregistry.repositories.ootbSupplyChain
  gitops:
    commit_strategy: pull_request
    branch: test
    server_address: #@ data.values.tap.supply_chain.gitops.server_address
    repository_owner: #@ data.values.tap.supply_chain.gitops.repository_owner
    ssh_secret: git-https
    pull_request:
      server_kind: github
      pull_request_title: Ready for review
      pull_request_body: Pull Request by TAP
appliveview:
  tls:
    namespace: tap-install
    #! Not consistent with others
    secretName: tap-tls-secret
scanning:
  metadataStore:
    url: ""
metadata_store:
  app_service_type: ClusterIP
accelerator:
  ingress:
    enable_tls: true
    include: true #! This should be able to be removed since I have shared.ingress_domain set above.  All others work, but for accelerator I had to explicitly set this
  tls:
    namespace: tap-install
    secret_name: tap-tls-secret
excluded_packages:
- cert-manager.tanzu.vmware.com
- contour.tanzu.vmware.com
- connector.appliveview.tanzu.vmware.com
- sso.apps.tanzu.vmware.com
- cnrs.tanzu.vmware.com
- image-policy-webhook.signing.apps.tanzu.vmware.com
- policy.apps.tanzu.vmware.com
- service-bindings.labs.vmware.com
- services-toolkit.tanzu.vmware.com
- ootb-delivery-basic.tanzu.vmware.com
package_overlays:
- name:  tap-gui
  secrets:
  - name: cluster-viewer-config-overlay
- name:  learningcenter
  secrets:
  - name: learningcenterconfig-overlay
#@ end
---
apiVersion: v1
kind: Secret
metadata:
  name: tap-values
  namespace: tap-install
  annotations:
    kapp.k14s.io/change-rule: "delete after deleting tap"

type: Opaque
stringData:
  values.yml: #@ yaml.encode(config())
