#@ load("@ytt:data", "data")

---
apiVersion: v1
kind: Namespace
metadata:
  name: spring-sensors
---
apiVersion: kappctrl.k14s.io/v1alpha1
kind: App
metadata:
  name: dev-ns-spring-sensors
  namespace: tap-install
  annotations:
    kapp.k14s.io/change-rule: "upsert after upserting tap"
spec:
  serviceAccountName: tap-install-gitops-sa
  syncPeriod: 1m
  fetch:
  - git:
      url: #@ data.values.git.url
      ref: #@ data.values.git.ref
  template:
  - ytt:
      paths:
      - clusters/common/app-contents/dev-namespace
  deploy:
  - kapp: 
      intoNs: spring-sensors
