#@ load("@ytt:data", "data")
#@ load("@ytt:yaml", "yaml")
---
#@ def config():
envoy:
  service: 
    type: NodePort

    #!externalTrafficPolicy: Local
    annotations:
      external-dns.alpha.kubernetes.io/target: "34.135.228.211"
      #@ if hasattr(data.values.tap.domains, "learningcenter"):
      external-dns.alpha.kubernetes.io/hostname: #@ "*." + data.values.tap.domains.base + ",*." + data.values.tap.domains.learningcenter
      #@ else:
      external-dns.alpha.kubernetes.io/hostname: #@ "*." + data.values.tap.domains.base
      #@ end
#@ end
---
apiVersion: v1
kind: Secret
metadata:
  name: contour-values
  namespace: #@ data.values.contour.namespace
  annotations:
    kapp.k14s.io/change-rule: "delete after deleting contour"
type: Opaque
stringData:
  values.yml: #@ yaml.encode(config())
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ip
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "*.2-devt.appref.end2end.link"
    external-dns.alpha.kubernetes.io/target: '34.135.228.211'
spec:
  rules:
    - host: '*.2-devt.appref.end2end.link'